{% extends 'base.html' %} 
{% block body_block %}
<h1>Add players to the Inviation list for {{active_event}}</h1>


<div class="container">
  <div class="row">
    <form method="POST" action="" >
        {% csrf_token %}
        <h3>Add Players By Group</h3>
    {% for group in my_groups %} 
    <ul>
        <a href="{% url 'OrgDash:player_group_detail' pk=group.pk %}">{{group.name}}</a>   <button name="add_group" value="{{ group.id }}">Add Group to list</button>
    </ul>

    {% endfor %}
<h3>Custom selection</h3>      
{% for player in yet_to_invite %} 
<div class="row">
<ul><input type="checkbox" id="{{player.pk}}" value="{{player.pk}}" name="selected_players_to_add" >{{player.first_name}} {{player.last_name}} {{player.email}} </input></ul>
</div>
{% endfor %}
<button type="submit" name="form_action" value="add_player" >Add Selected players to list</button>
</div>





<h1>Invite List</h1>
{% for player in invite_list %}
<ul>
    <ul><input type="checkbox" id="{{player.pk}}" value="{{player.pk}}" name="selected_players_to_remove" >{{player.first_name}} {{player.last_name}} {{player.email}} </input></ul>
</ul>

{% endfor %}
<button type="submit" name="form_action" value="remove_player" >Remove Selected players from list</button>
</form>
</div>

<br>
<br>
<a href="{% url 'OrgDash:finalize_invites' pk=inv_obj.pk %}"><h1>Finalize Event Guests</h1></a>
{% endblock %} 