{% extends 'base.html' %} 
{% block body_block %}

<div class="container">
    <h1>Invitations to {{active_event}}</h1>
    <div row="row">
    <h2>There are {{spots_left}} spots available</h2>
   
    
     {% for invite in all_invited %}
     
     <ul>
        {% if invite.will_you_attend == 'Yes' %}
        <a href = "{% url 'OrgDash:update_invite' invite.pk %}">{{invite.guest}} Yes</a> <a href="{% url 'OrgDash:delete_invite' invite.pk %}"> Delete </a>
        {% elif invite.will_you_attend == 'No' %}
        <a href = "{% url 'OrgDash:update_invite' invite.pk %}">{{invite.guest}} No</a><a href="{% url 'OrgDash:delete_invite' invite.pk %}"> Delete </a>
        {% elif invite.will_you_attend == 'Waitlist' %}
        <a href = "{% url 'OrgDash:update_invite' invite.pk %}">{{invite.guest}} Waitlisted</a><a href="{% url 'OrgDash:delete_invite' invite.pk %}"> Delete </a>
        {% else %} 
        <a href = "{% url 'OrgDash:update_invite' invite.pk %}">{{invite.guest}} Not Responded</a><a href="{% url 'OrgDash:delete_invite' invite.pk %}"> Delete </a>
        {% endif %}
     </ul>
     {% endfor %} 

<br>
<br>
<h2>Waitlist</h2>
{% for player in waitlist %}
{{player}}
{% endfor %} 

</div>

<form action="{% url 'OrgDash:event_detail' active_event.pk %}">
    <button class="btn btn-primary">Back to event</button>

    <br>
    <br>
    <br>
</form>

{% endblock %} 