{% extends 'base.html' %} 
{% block body_block %}

{% load django_bootstrap5 %}


<div class="container">
    <div class="col-md-6 create-form">
        <h1 class="p-2">You're Invited to {{object.event.host}}'s event at {{object.event.location}}</h1>
        <h2 class="p-2">{{object.event.date}} {{object.event.time}}</h2>
        <h3 class="p-2">Please RSVP below:</h3>
        <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="p-2">
            <button class="w-100 btn btn-lg btn-green" type="submit">Respond</button>
            
        </div>
        </form>
        {% if user.is_authenticated %} 
        <div class="p-2">
            <button class="w-100 btn btn-lg btn-danger" type="submit" onClick="javascript:history.go(-1);">Cancel</button>
        
        </div>
        {% endif %} 
    </div>
</div>


{% endblock %} 
