{% extends 'base.html' %} 
{% block body_block %}
{% load django_bootstrap5 %} 
<h1>Create New Event</h1>
<div class="container">
    <form action="" method="post">
        {% csrf_token %} 
        {% bootstrap_form form %}    
      
<input type="submit" value="Create">
    </form>
<style>

    .hidden{
        display: none;
    }
</style>
<script>
    $("#id_recurring_event").on('click', function(){

$("#recurring").fadeToggle();

}); 
</script>




</script> 












    {% endblock %} 