{% extends 'base.html' %}
{% block body_block %}
{% load static %} 

DELETE?
<script src="{% static 'pickuphockey.js' %}"></script>

<div class="wrapper mx-auto">
    <div class="content">
        <div class="container">
            <div class="container py-4">
                <div class="p-5 mb-4 bg-light rounded-3">
                  <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Event at {{event.location}} </h1>
                    
                    <h2 class="display-7">{{event.date}} {{event.time}}</h2>
                    <p class="col-md-8 fs-4">Price: ${{event.price}} Per person</p>
                   
                    <br>
                    <h2>{{spots_left}}/{{event.max_players}} player spots remaining </h2>
                    <h3>{{goalie_spots_left}}/{{event.max_goalies}} goalie spots remaining</h3>
                    
                    {% if event.recurring_event %}
                    <p class="col-md-8 fs-4">This event repeats every {{event.frequency}} days</p>
                    {% endif %} 
                    <a class="btn btn btn-gold" role="button" href="{% url 'OrgDash:event_update' event.pk %}">Edit Event</a>
                    {% if event.recurring_event %}
                    <a class="btn btn btn-gold" role="button" href="{% url 'OrgDash:skate_repeat_settings' event.pk %}">Manage Recurring Event Settings</a>
                    {% else %}
                    <a class="btn btn btn-gold" role="button" href="{% url 'OrgDash:init_skate_repeat_settings' event.pk %}">Make This Event Repeat</a>
                    {% endif %}
                    <br>
                    <br>
                    <a class="btn btn-green py-2 " role="button" href="{% url 'OrgDash:invite_list' event.pk %}">Manage Event Invitations</a>
                    {% if spots_left != event.max_players %}
                    <a class="btn btn-blue py-2 " role="button" href="{% url 'OrgDash:make_teams' event.pk %}">Make Teams and Finalize</a>
                    {% endif %} 
                    
                  
                    <a class="btn btn-danger py-2 " role="button" href="{% url 'OrgDash:delete_event' event.pk %}">Delete Event</a>
                    {% if messages %}
                    <div class="" role="alert" id="invite-sucess"></div>
                    {% endif %}
                  
                  </div>
                 
                </div>

               
                
                


            
                <div class="d-flex justify-content-evenly">
                    <div class="table p-3">

                        <div class="table-header">
                            <h2>Guest List</h2>
                        </div>
                            <table class="table table-hover table">
                                <thead>
                                  
                                </thead>
                                <tbody>
                                    {% for guest in guest_list %}
                                  <tr>
                                    
                                    <td>{{guest.guest}}</td>
                                    
                                    {% endfor %} 
                                  </tr>
                                </tbody>
                              </table>
                    
                    </div>
                    <div class="table p-3">

                      <div class="table-header">
                          <h2>Goalies</h2>
                      </div>
                          <table class="table table-hover table">
                              <thead>
                                
                              </thead>
                              <tbody>
                                  {% for guest in goalie_list %}
                                <tr>
                                  
                                  <td>{{guest.guest}}</td>
                                  
                                  {% endfor %} 
                                </tr>
                              </tbody>
                            </table>
                  
                  </div>

  
 
                     
                    
                  
                  
                    
                  
                
                
                
                    <div class="table p-3">

                        <div class="table-header">
                            <h2>Wait List</h2>
                        </div>
                            <table class="table table-hover table">
                                <thead>
                                 
                                </thead>
                                <tbody>
                                    {% for guest in wait_list %}
                                  <tr>
                                    <td>{{guest}}</td>
                                    {% endfor %} 
                                  </tr>
                                </tbody>
                              </table>
                    </div>
                    </div>
                     
                    
                  
                  
                    
                  
                
                </div>
                </div>
            
            
    </div>
        
 

        
</div>

{% if messages %}

{% for message in messages %}



<script>



const alertPlaceholder = document.getElementById('invite-sucess')
  
  const alert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-success alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')
  
  alertPlaceholder.append(wrapper)
  }
  
  $(document).ready(function() {
    alert('{{message}}')
  });

  </script>


{% endfor %}
{% endif %} 
{% endblock %} 