{% extends 'base.html' %}



{% block body_block %}
<div class="wrapper">

    <div class="sidebar">
        {% include 'OrgDash/org_dash_base.html' %}
    </div>
<div class="content">
    <div class="container">
    
        <div class="table-header">
        <h2>Today's Events</h2>
        </div>
        <table class="table table-hover table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
                <th scope="col">Recurring</th>
                
              </tr>
            </thead>
            <tbody>
                {% for item in todays_events %}
              <tr>
                <th scope="row"><a href="{{item.id}}">View Event</a></th>
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.location}}</td>
                {% if item.recurring_event == True %}
                <td>Yes</td>
               {% else %}
               <td>No</td>
                {% endif %} 
                {% endfor %}  
              </tr>
            </tbody>
          </table>
        
   
    </tbody>
    <div class="table-header">
        <h2>Upcoming Events</h2>
    </div>
    <table class="table table-hover table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Location</th>
            <th scope="col">Recurring</th>
            
          </tr>
        </thead>
        <tbody>
            {% for item in upcoming_events %}
          <tr>
            <th scope="row"><a href="{{item.id}}">View Event</a></th>
            <td>{{item.date}}</td>
            <td>{{item.time}}</td>
            <td>{{item.location}}</td>
            {% if item.recurring_event == True %}
            <td>Yes</td>
           {% else %}
           <td>No</td>
            {% endif %} 
            {% endfor %}  
          </tr>
        </tbody>
      </table>
      <div class="table-header">
        <h2>Past Events</h2>
    </div>
      <table class="table table-hover table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Location</th>
              <th scope="col">Recurring</th>
              
            </tr>
          </thead>
          <tbody>
              {% for item in past_events %}
            <tr>
              <th scope="row"><a href="{{item.id}}">View Event</a></th>
              <td>{{item.date}}</td>
              <td>{{item.time}}</td>
              <td>{{item.location}}</td>
              {% if item.recurring_event == True %}
              <td>Yes</td>
             {% else %}
             <td>No</td>
              {% endif %} 
              {% endfor %}  
            </tr>
          </tbody>
        </table>
        
        
 
</div>
</div>
</div>
</div>



{% endblock %}