{% extends 'base.html' %} 
{% block body_block %}
<div class="container">
<h1>Event at {{event.location}} hosted by {{event.host}}</h1>
<h3>Date: {{event.date}}</h3>
<h3>Time: {{event.time}}</h3>
<br>
<h3>Price: ${{event.price}}</h3>
<br>
<br>
{% if event.recurring_event %}
<h2>This event repeats {{recurring_obj.frequency}}</h2>
{% endif %} 
<h3>{{spots_left}} spots remaining. {{event.max_guests}} total spots</h3>
<h3>{{invites_sent}} guests have been invited</h3>
<br>



<form action="{% url 'OrgDash:event_update' event.pk %}">
    <button class="btn btn-warning">Edit</button>

    <br>
    <br>
    <br>
</form>

<form action="{% url 'OrgDash:delete_event' event.pk %}">
    <button class="btn btn-danger">Delete </button>
   

    <br>
    <br>
    <br>
</form>
<h1>Guest List</h1>
<br>
<form action="{% url 'OrgDash:send_invites' event.pk %}">
    <button class="btn btn-primary">Invite Multiple Players to this Event</button>
</form>
<br>

<form action="{% url 'OrgDash:invite_list' event.pk %}">
    <button class="btn btn-primary">Manage Invitations</button>
</form>
<br>

{% for guest in guest_list %}
<ul>
    <li>{{guest.guest}}</li>
</ul>
{% endfor %} 

<form action="{% url 'OrgDash:make_teams' event.pk %}">
    <button class="btn btn-primary">View Teams</button>
</form>
</div>
<br>
<br>
<br>
<div>
<form action="{% url 'OrgDash:create_invite' event.pk %}">
    <button class="btn btn-primary">Create Single Invite</button>
</form>




</div>

{% endblock %} 