{% extends 'base.html' %} 
{% block body_block %}
<div class="container">
<h1>Event at {{event.location}} hosted by {{event.host}}</h1>
<h3>Time: {{event.time}}</h3>
<br>
<h3>Price: {{event.price}}</h3>
<br>
<h3>Guest list: {{event.participants}}</h3>

<form action="{% url 'OrgDash:event_update' object.pk %}">
    <button class="btn btn-warning">Edit</button>

    <br>
    <br>
    <br>
</form>

<form action="{% url 'OrgDash:delete_event' object.pk %}">
    <button class="btn btn-danger">Delete </button>
   

    <br>
    <br>
    <br>
</form>




</div>

{% endblock %} 