{% extends 'base.html' %} 
{% block body_block %}
<h1>Select the Players you would like to invite:</h1>
<h3>Invite a whole group at once</h3>
{% for group in my_groups %} 
<ul>
    <a href="{% url 'OrgDash:player_group_detail' pk=group.pk %}">{{group.name}}</a>   <a href="#"><button>Invite Group</button> </a>
</ul>

{% endfor %}
<div class="container">
  <div class="row">
    <form method="POST" action="" >
        {% csrf_token %}


<h3>Custom selection</h3>      
{% for player in players_not_yet_invited %} 
<div class="row">
<ul><input type="checkbox" id="{{player.pk}}" value="{{player.pk}}" name="selected_players" >{{player.first_name}} {{player.last_name}} {{player.email}} </input></ul>
</div>
{% endfor %}
<button type="submit" >Invite Selected Players</button>
</div>

</div>
</form>
<h3>Players already invited to this event</h3>
{% for invite in existing_invites %} 
<li>{{invite.guest.first_name}} {{invite.guest.last_name}} {{invite.guest.email}}</li>
{% endfor %} 
<script>
  function InviteGroupMembers(members){
  for (let member of members) {
    const element = document.getElementsByName('selected_players');
    if (element && element.type === 'checkbox') {
      console.log(element)
    }
  }
}

</script>
<!-- <script>
const form = document.querySelector('form');

form.addEventListener('submit', (event) => {
  event.preventDefault();

  const banner = document.createElement('div');
  banner.textContent = '{{number_of_invites}} players have been invited';
  banner.style.backgroundColor = 'green';
  banner.style.color = 'white';
  banner.style.padding = '10px';
  banner.style.position = 'fixed';
  banner.style.top = '0';
  banner.style.left = '0';
  banner.style.width = '100%';
  banner.style.textAlign = 'center';

  document.body.appendChild(banner);
});

</script> -->


{% endblock %} 