{% extends 'base.html' %} 
{% block body_block %}
{% load django_bootstrap5 %}

<div class="container">
    <div class="col-md-6 create-form">
        <h2>Edit {{object}}</h2>
        <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="p-2">
            <input class="btn btn-green" type="submit" value="Update">
        </div>
        </form>
        <div class="p-2">
        <input type=button class="btn btn-gold" value="Cancel" onClick="javascript:history.go(-1);">
        </div>
    </div>
    
</div>
{% endblock %} 