/* *{
  font-family: 'Manrope', sans-serif !important;
  -webkit-text-fill-color: #282A3A;
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-size:15px;
  background-color:whitesmoke;
} */



.base-nav {
  display:flex;
  background-color:#22577E;
  padding:16px 32px;
  border-bottom:0.3px solid #95D1CC;
  justify-content:space-between;
  align-items:center;

}

.base-nav-main{
  background-color:#22577E;
  display:flex;
  gap:32px;
}
.base-nav-link{
  -webkit-text-fill-color: whitesmoke;
  background-color:#22577E;
  text-decoration: none;
}
.base-nav-links{
  background-color:#22577E;
  display:flex;
  gap: 40px;
  list-style: none;
}

.content{
  display:flex;
  width: 80%;


  
 

} 
.wrapper{
  display: flex;
  flex-wrap: wrap;
}
.sidebar{
  justify-self: left;
  display: flex;
  height: 100%;
  width: 20%;

 
}

.table-header{
  background-color: lightgrey;
}

.create-form{
position: relative;
margin: 0 auto;
padding-bottom: 10%;

}
