{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pickuphockey.css' %}">
    <title>PickUpPuck.com</title>
    <link rel="icon" type="image/x-icon" href="{% static 'photos/hockey-helmet-1-svgrepo-com.png' %}">
</head>



<nav class="navbar navbar-expand-lg main-nav py-3" aria-label="Ninth navbar example">
  <div class="container-xl">
    <a href="/" class="navbar-brand nav-links px-5">PickUpPuck.com</a>
    <button class="navbar-toggler" type="button" style="background-color: #FF9E1F;" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle active nav-links" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Events
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'OrgDash:organizer_dashboard' %}">View My Events</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'OrgDash:create_event' %}">Create New Event</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle active nav-links" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Players
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'OrgDash:player_dash' %}">Manage My Players</a></li>
            
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'OrgDash:create_player' %}">Create Player</a></li>
            
          </ul>
        </li>
        <li class="px-2"><a href="{% url 'contact' %}" class="nav-links nav-link link-body-emphasis">Contact</a></li>
        
        <li class="px-2"><a href="{% url 'how_it_works' %}" class="nav-links nav-link link-body-emphasis">How it Works</a></li>
        <li class="px-2"><a href="{% url 'quickteams:quick_teams' %}" class="nav-links nav-link link-body-emphasis">Quick Teams</a></li>

        <li class="nav-item dropdown px-2 ">
          <a class="nav-link dropdown-toggle active nav-links" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hello {{user}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logout/">Log Out</a></li>
            
            <li>
              <hr class="dropdown-divider">
            </li>
            <a class="dropdown-item" href="/reset-password/">Reset Password</a></li>
            
          </ul>
        </li>
      </ul>
      
    </div>
    {% else %}
    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="px-2"><a href="{% url 'contact' %}" class="nav-links nav-link link-body-emphasis px-5">Contact</a></li>
      
      <li><a href="{% url 'how_it_works' %}" class="nav-links nav-link link-body-emphasis px-5">How it Works</a></li>
    </ul>
      <div class="col-md-3 text-end px-2">
        <a type="button" href="{% url 'sign_up' %}" class="btn btn-green">Sign Up</a>
        <a type="button" href="{% url 'login' %}" class="btn btn-gold">Log In</a>
      </div>
      
    </div>
    </div>
    </nav>
      {% endif %} 
  </div>
</nav>

   
    <body>
    
    
                {% block body_block%} 
                {% endblock %} 
     


   
    


    
</body>
</html>
