{% extends 'base.html' %} 
{% block body_block %}
{% load static %} 

<main>
    <div class="text-center p-4">
      
       
        <div class=" p-5 text-center">
          <img src="{% static 'photos/Logo4crop.PNG' %}" alt="" class="img-fluid">
           
        </div>
          
         
          
            <br>
            <br>
            <div class="container my-5">
              <div class="row p-4 grid gap-0 column-gap-5 rounded-3 border shadow-lg">
                <div class="col-lg-7 py-2 px-4 ">
                  <h1 class="display-4 fw-bold lh-1 text-body-emphasis">An all in one event manager for hockey</h1>
                  <p class="lead px-2 py-4">Set up events, invite guests and make teams for the day of the event. </p>
                  {% if user.is_authenticated %}
                  <div class="d-grid gap-3 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a type="button" href="{% url 'OrgDash:player_dash' %}" class=" btn btn-lg btn-blue w-100">My Player Dashboard</a>
                  </div>
                  {% endif %} 
                </div>
                <div class="col-lg-4 p-2">
                    <img class="img-fluid" src="{% static 'photos/equip.jpg' %}" alt="" width="">
                    <small><a href="https://www.freepik.com/free-vector/hockey-icons-set_2871279.htm#query=hockey%20arena&position=21&from_view=keyword&track=ais">Image by macrovector</a> on Freepik</small>
                </div>
              </div>
            </div>
            <div class="b-example-divider"></div>
            <div class="container my-5">
              <div class="row p-4 grid gap-0 column-gap-5 rounded-3 border shadow-lg">
                <div class="col-lg-4 p-2">
                  <img class="img-fluid" src="{% static 'photos/comp.jpg' %}" alt="" width="">
                  <small><a href="https://www.freepik.com/free-vector/hockey-icons-set_2871279.htm#query=hockey%20arena&position=21&from_view=keyword&track=ais">Image by macrovector</a> on Freepik</small>
              </div>
                <div class="col-lg-7 py-2 px-4 ">
                  <h1 class="display-4 fw-bold lh-1 text-body-emphasis">It's all Automatic</h1>
                  <p class="lead px-2 py-4">Set your events to auto repeat and let us handle the rest. You can provide a personal touch as much or as little as you would like.</p>
                  {% if user.is_authenticated %}
                  <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a type="button" href="{% url 'OrgDash:organizer_dashboard' %}" class="btn btn-lg btn-green w-100">My Event Dashboard</a>
                  </div>
                  {% endif %} 
                </div>
                
              </div>
            </div>
        <div class="container marketing p-4">
    
        
          <div class="container my-5">
            <div class="row p-4 grid gap-0 column-gap-5 rounded-3 border shadow-lg">
              <div class="col-lg-7 py-2 px-4 ">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Make teams with ease</h1>
                <p class="lead px-2 py-4">Sort players by their skill to make the most even teams possible</p>
                {% if user.is_authenticated %} 
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                  <a type="button" href="{% url 'quickteams:quick_teams' %}" class="btn btn-lg btn-gold w-100">Make Quick Teams</a>
                </div>
                {% endif %} 
              </div>
              <div class="col-lg-4 p-2">
                  <img class="img-fluid" src="{% static 'photos/goalie1.jpg' %}" alt="" width="">
                  <small><a href="https://www.freepik.com/free-vector/hockey-icons-set_2871279.htm#query=hockey%20arena&position=21&from_view=keyword&track=ais">Image by macrovector</a> on Freepik</small>
              </div>
            </div>
          </div>
    
        <hr class="featurette-divider">
    
        <div class="bg-dark text-secondary px-4 py-5 text-center">
          <div class="py-5">
            <h1 class="display-5 fw-bold text-white">How does it work?</h1>
            <div class="col-lg-6 mx-auto"> 
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a type="button" href="{% url 'how_it_works' %}" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Check out the how to guide</a>
               
              </div>
            </div>
          </div>
        </div>
        
    
    
    
        <!-- /END THE FEATURETTES -->
    
        </div><!-- /.container -->
    
    
       
    </div>
  </main>

  {% endblock %} 