{% extends 'base.html' %} 
{% block body_block %}
<div class="container py-3">
    <header>
    
  
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Sign Up</h1>
        <p class="fs-5 text-muted">Are you a host or a guest?</p>
      </div>
    </header>
  
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
             
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Host</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Create events and invite guests</li>
                <li>Automation tools</li>
                <li>Mangage your own players</li>
              </ul>
              <a href= "{% url 'host_sign_up' %}" ><button type="button" class="w-100 btn btn-lg btn-primary">Create a host account</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Guest</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>View and accept invitations</li>
                <li>View events</li>
                <li>Pay admission fees</li>
              </ul>
              <a href="{% url 'player_sign_up' %}"><button type="button" href="" class="w-100 btn btn-lg btn-primary">Create a guest account</button></a>
            </div>
          </div>
        </div>
        
          </div>
        </div>
      </div>
  
    
    </main>
  





{% endblock %}