{% extends 'base.html' %} 
{% load django_bootstrap5 %} 
{% block body_block %}
<div class="conatiner p-5">
  <div class="d-flex justify-content-center">  
    <div class="col-md-4">
      <div class="text-center" style="width: 80%; margin: 0 auto">
          <h1>Password Reset</h1>
          <h6 style="width: 60%; margin: 0 auto">
            Please enter your new password.
          </h6>
        </div>
    <br>
    <form action="" method="POST">
      {% csrf_token %} 
      {% bootstrap_form form %}
      <div class="p-2 text-center">
        <input type="submit" value="Reset Password" class="btn btn-green w-100"></input>
      </div>
    </form>
    </div>
  </div>
</div>

  {% endblock %} 