{% extends 'base.html' %} 
{% block body_block %}
<div class="d-flex justify-content-center">
    <div class="col-md-6 bg-success-subtle">
        <div class="text-center p-3">
        <h1>Password reset sent</h1> 
    
        <p class="p-3">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
        <div class="text-center">
        <a type="button" class="btn btn-blue" href="{% url 'home' %}">Return to home page</a>
        </div>
    </div>
</div>
{% endblock %}