{% extends 'base.html' %} 
{% load django_bootstrap5 %} 
{% block body_block %}
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <h1>Reset Your Password</h1>
            
        </div>
        <br/>
        
        <form action="" method="POST" class="text-center">
            {% csrf_token %}
            {% bootstrap_form form %} 
            <input type="submit" class="btn btn-blue btn-lg w-100" value="Send reset email" /><br>
        </form><br/>
        <div class="text-center">
            <a type="button" class="btn btn-danger btn-lg w-100" href="{% url 'home' %}">Return to home page</a>
        </div>
    </div>
</div>
{% endblock %} 