{% extends 'base.html' %} 
{% block body_block %}

<div class="container">
    <h1>Players</h1>
    <div row="row">
        {% for player in my_players %}
        <ul>
        <a href="{{player.id}}">{{player.first_name}} {{player.last_name}}
        </ul>
        {% endfor %} 
        <form action="{% url 'OrgDash:create_player' %}">
         <button class="btn btn-primary">Create Player</button>

         <br>
         <br>
         <br>
     </form>
     <form action="{% url 'OrgDash:upload_sheet' %}">
        <button class="btn btn-primary">Create Players from Spreadsheet</button>

      <br>
    </form>
<br>
    <form action="{% url 'OrgDash:player_list' %}">
        <button class="btn btn-primary">View and Edit Players</button>

      <br>
    </form>
    <br>
    <br>
    <h2>Groups</h2>
    {% for group in my_groups %} 
    <ul>
        <a href="{% url 'OrgDash:player_group_detail' pk=group.pk %}">{{group.name}} </a>
        <form action="{% url 'OrgDash:player_group_delete' group.pk %}">
            <button class="btn btn-danger">Delete </button>
        </form>
     </ul>
     {% endfor %} 
    <form action="{% url 'OrgDash:create_player_group' %}">
      <button class="btn btn-primary">Create a Group of Players</button>

    <br>
  </form>

   
    {% if messages %}

    {% for message in messages %}
    
<script>


  const banner = document.createElement('div');
  banner.className = 'message_bannner'
  banner.textContent = '{{message}}';
  banner.style.backgroundColor = 'green';
  banner.style.color = 'white';
  banner.style.padding = '10px';
  banner.style.position = 'fixed';
  banner.style.top = '0';
  banner.style.left = '0';
  banner.style.width = '100%';
  banner.style.textAlign = 'center';
  banner.style.opacity = '1';
  banner.style.transition = 'opacity 2s'


  document.body.appendChild(banner);

  window.addEventListener('load', function() { //will not fade out
  setTimeout(function() {
    document.getElementsByClassName('message_bannner').style.opacity = '0';
  }, 2000); // 2000 milliseconds delay
});


</script>
    {% endfor %}

{% endif %}
{% endblock %} 