{% extends 'base.html' %} 
{% block body_block %}

<div class="container">
  
  <div class=" col-md-10 d-flex justify-content-between">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Player Dashboard</h1>
      <p class="col-md-8 fs-4">Manage the players you plan on inviting to your events</p>
      <a type="button" class="btn btn-blue p-2" href="{% url 'OrgDash:create_player' %}">Create Player</a>
      <a type="button" class="btn btn-blue p-2" href="{% url 'OrgDash:upload_sheet' %}">Create Players from Spreadsheet</a>
      <a type="button" class="btn btn-green p-2" href="{% url 'OrgDash:create_player_group' %}">Create Player Group</a>
    </div>
    
 

  {% if messages %}
  <div class="" role="alert" id="player-create-sucess"></div>
  {% endif %}

  </div>

  <div class="d-flex justify-content-between">
    <div class="col-md-4 ">
      <div class="table-header">
        <h3>My Players</h3>
      </div>
      <table class="table table-hover table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Skill <a href="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Player skill is used to make even teams. Rate your players on a scale from 1-10 as accurately as possible."><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg></a>
                </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for player in my_players %}
            <tr>
              
              <td>{{player.first_name}} {{player.last_name}}</td>
              <td>{{player.skill}}</td>
              <td><a type="button" class="btn btn-gold" href="{% url 'OrgDash:update_player' player.pk %}">Manage</a></td>
              
              {% endfor %}  
            </tr>
          </tbody>
        </table>
      


    </div>
    <div class="col-md-4 justify-content-right">
      <div class="table-header">
        <h3>My Goalies</h3>
      </div>
      <table class="table table-hover table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Skill <a href="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Player skill is used to make even teams. Rate your players on a scale from 1-10 as accurately as possible."><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg></a>
                </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for player in my_goalies %}
            <tr>
              
              <td>{{player.first_name}} {{player.last_name}}</td>
              <td>{{player.skill}}</td>
              <td><a type="button" class="btn btn-gold" href="{% url 'OrgDash:update_player' player.pk %}">Manage</a></td>
              {% endfor %}  
            </tr>
          </tbody>
        </table>
      


    </div>

    <div class="col-md-4 justify-content-right">
      <div class="table-header">
        <h3>My Groups <a href="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="If you usually invite the same group of players to your events, invite them all at once with a group. Groups are required for recurring events"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg></a></h3>
      </div>
      <table class="table table-hover table">
          <thead>
            <tr>
              <th scope="col">Group Name</th>
              
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for group in my_groups %}
            <tr>
              
              <td>{{group.name}}</td>
              <td><a type="button" class="btn btn-gold" href="{% url 'OrgDash:player_group_update' pk=group.pk %}">Manage</a></td>
              {% endfor %}  
            </tr>
          </tbody>
        </table>
      


    </div>
  </div>
</div>










 


{% if messages %}

    {% for message in messages %}

    <script>



      const alertPlaceholder = document.getElementById('player-create-sucess')
        
        const alert = (message, type) => {
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
          `<div class="alert alert-success alert-dismissible" role="alert">`,
          `   <div>${message}</div>`,
          '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
          '</div>'
        ].join('')
        
        alertPlaceholder.append(wrapper)
        }
        
        $(document).ready(function() {
          alert('{{message}}')
        });
      
        </script>
    {% endfor %}

{% endif %}

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %} 