{% extends 'base.html' %} 
{% block body_block %}
<div class="container">
<h1>{{player.first_name}} {{player.last_name}}</h1>
<ul>
    <li>{{player.email}}</li>
    <li>{{player.skill}}</li>


</ul>



<form action="{% url 'OrgDash:update_player' object.pk %}">
    <button class="btn btn-warning">Edit</button>

    <br>
    <br>
    <br>
</form>

<form action="{% url 'OrgDash:delete_player' object.pk %}">
    <button class="btn btn-danger">Delete </button>
   

    <br>
    <br>
    <br>
</form>
<br>
<br>
<form action="{% url 'OrgDash:player_dash' %}">
    <button class="btn btn-primary">Done </button>
</form>


{% endblock %} 