{% extends 'base.html' %} 
{% block body_block %}
{% load django_bootstrap5 %}

<div class="container">
    <div class="col-md-6 create-form">
        <h2>Edit {{object}}</h2>
        <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="p-2">
            <button class="w-100 btn btn-lg btn-green" type="submit">Update</button>
            
        </div>
        </form>
        <div class="p-2">
            <button class="w-100 btn btn-lg btn-gold" type="submit" onClick="javascript:history.go(-1);">Cancel</button>
        
        </div>
        <div class="p-2">
            <a type="button" class="w-100 btn btn-lg btn-danger" href="{% url 'OrgDash:delete_player' player.pk %}">Delete {{object}}</a>
        </div>
    </div>
   
</div>
{% endblock %} 